<p>Add new item in your inventory!</p>

<form class="new-item-form" [formGroup]="itemForm">
  <ui-input placeholder="Device Name" [value]="itemForm.controls.name.value" formControlName="name" ngDefaultControl></ui-input>

  <ui-dropdown [options]="options" [value]="itemForm.controls.type.value" formControlName="type" ngDefaultControl></ui-dropdown>

  <div class="new-item-form__bottom">
    <ui-button emphasis="primary" (pushed)="createNew()">New</ui-button>

    <div class="invalid-form" *ngIf="itemForm.controls.name.errors?.['required']">
      Device name is required.
    </div>

    <div class="invalid-form" *ngIf="itemForm.controls.name.errors?.['minlength']">
      Device name need to be longer than 4 characters.
    </div>
  </div>
</form>

<div class="modal" id="myModal" #myModalComp>
  <div class="modal-dialog modal-sm" >
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Dialog title</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">X</button>
      </div>

      <div class="modal-body">
         Item was added!
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
      </div>

    </div>
  </div>
</div>
